<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node name="nlp_intent_classifier" pkg="tum_alle_athome_speech_nlp" type="intent.py" cwd="node" output="screen" />
  <node name="nlp_predefined" pkg="tum_alle_athome_speech_nlp" type="predefined.py" cwd="node" output="screen" />
  <node name="nlp_process" pkg="tum_alle_athome_speech_nlp" type="generate_answer.py" cwd="node" output="screen" />
  <node name="semantics_answer" pkg="tum_alle_athome_semantics_knowledge" type="knowledge_spr" cwd="node" output="screen" />

</launch>
