<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz"     default="true"/>
  <arg name="public_sim"   default="false"/>
  <arg name="sim_sufix" value="_public_sim"     if="$(arg public_sim)"/>
  <arg name="sim_sufix" value=""                unless="$(arg public_sim)"/>
  <group if="$(arg rviz)">
      <node name="pick_demo_rviz" pkg="rviz" type="rviz" args="-d $(find manipulation)/config/rviz/tiago_pick_demo.rviz" />
  </group>
  <node name="object_detection" type="object_detection" pkg="perception" output="screen"/>

</launch>
